---
import SiteLayout from '../layouts/SiteLayout.astro'
---

<SiteLayout title="Experiences">
    <h1 class="page--title">Who am <span class="colored">I</span>?</h1>
    <section class="about">
        <p>When you think of it, I'm not that different from the other children of my generation. We were born in an era where <span class="colored">screens</span> started being a thing.</p>
        <img src="/assets/images/cat.gif" class="normal" alt="">
        <p>Obviously, we could have find out that I belonged to that one category of <span class="colored">geek</span> who quickly started getting attracted by all those beeping and flashing machines. I was already very young when I used a computer or turned on a videogame console for the first time.</p>
        <p>It was also very fast before I found out that it had to be what would drive my future.</p>
        <img src="/assets/images/ok.gif" class="normal" alt="">
        <div class="white-space-lg"></div>
        <p>I started coding my first <span class="colored">programs</span> when I was 16, during high school.</p>
        <div class="about--image-row row">
            <div class="about--image-row-img col" style="background-image: url('/assets/images/typing1.gif');"></div>
            <div class="about--image-row-img col" style="background-image: url('/assets/images/typing2.gif');"></div>
            <div class="about--image-row-img col" style="background-image: url('/assets/images/typing3.gif');"></div>
        </div>
        <p>...and it has been an amazing discovery! I knew I had to continue following this path.</p>
        <div class="white-space-lg"></div>
        <p>After 2 years of IT college, I decided to try mixing travelling and studying, which ended with me going to <span class="colored">India</span> and <span class="colored">Ireland</span>. It were such great experiences.</p>
        <p>After that, I tried to get into the active life and started searching for a job. And then, I got recruited in a <span class="colored">web agency</span> right in the middle of the French Alpes, and that's how this amazing journey started.</p>
        <p>To be continued...</p>
    </section>
</SiteLayout>