---
import SiteLayout from '../layouts/SiteLayout.astro'
---

<SiteLayout title="Experiences">
    <section class="contact d-flex flex-column justify-content-center align-items-center">
        <h1>Get in touch with me!</h1>
        <div class="white-space-sm"></div>
        <h2>Do not hesitate to contact me for any kind of request.</h2>
        <div class="white-space-sm"></div>
        <a href="mailto:yoan-rouleau.pro@outlook.com"><h3>yoan@tiw.agency</h3></a>
        <a href="mailto:yoan-rouleau.pro@outlook.com"><h3>+33 7 50 89 16 29</h3></a>
        <div class="white-space-sm"></div>
        <div class="contact--touch d-flex flex-row">
            <a href="https://github.com/YoanRouleau" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/yoan-rouleau-8ba694150/" target="_blank">LinkedIn</a>
            <a href="img/resume.pdf" target="_blank">Resume</a>
        </div>
    </section>
</SiteLayout>