---
import SiteLayout from '../layouts/SiteLayout.astro'

import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get("cdn/stories/experiences", {
  version: import.meta.env.DEV ? "draft" : "published",
});

const content = data.story.content;
---

<SiteLayout title="Experiences">
    <section class="experiences">
        <h1 class="page--title">Work <span class="colored">Experiences</span></h1>
        <div class="white-space-lg"></div>
        <StoryblokComponent blok={content} />
    </section>
</SiteLayout>