<section class="hero">
    <div class="hero--bar d-flex flex-row justify-content-between">
        <div class="hero--bar-left">
            <a href="/">
                <svg class="hero--bar-logo big" version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="300.000000pt" height="300.000000pt" viewBox="0 0 300.000000 300.000000"
                preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)"
                    fill="#181818" stroke="#000000">
                    <path d="M0 1500 l0 -1500 1500 0 1500 0 0 1500 0 1500 -1500 0 -1500 0 0
                    -1500z m2521 668 c33 -14 38 -23 67 -110 17 -52 38 -135 47 -184 18 -106 20
                    -304 4 -415 l-11 -80 -72 -39 c-152 -86 -776 -390 -868 -424 -229 -85 -449
                    -122 -681 -113 -229 8 -365 49 -494 148 -48 38 -117 118 -141 164 -21 41 -24
                    137 -8 215 51 241 241 409 564 494 137 37 377 120 481 167 36 16 101 56 145
                    88 107 76 116 81 174 81 60 0 124 -21 169 -56 l34 -26 85 37 c144 62 212 76
                    349 72 80 -2 132 -9 156 -19z"/>
                    <path d="M1609 2079 c-41 -29 -78 -55 -83 -60 -9 -8 333 -239 355 -239 8 0 42
                    12 77 27 l64 27 -7 35 c-9 47 -48 122 -86 165 -43 49 -140 96 -199 96 -40 0
                    -58 -7 -121 -51z"/>
                    <path d="M2455 2064 c-76 -70 -230 -174 -319 -214 l-68 -31 7 -57 c13 -109
                    102 -323 133 -321 9 0 58 17 107 37 l90 37 6 100 c9 143 41 233 139 390 13 21
                    13 29 -1 66 -8 24 -20 44 -25 45 -5 2 -36 -22 -69 -52z"/>
                    <path d="M1436 1967 c-17 -12 -2 -24 158 -130 150 -99 180 -116 196 -107 11 6
                    20 14 20 18 0 8 -326 225 -344 230 -6 1 -20 -3 -30 -11z"/>
                    <path d="M2547 1939 c-69 -118 -106 -239 -107 -348 0 -63 -1 -63 106 10 l74
                    51 0 58 c0 59 -23 209 -38 251 -9 22 -10 21 -35 -22z"/>
                    <path d="M1317 1919 c-16 -10 5 -27 160 -130 98 -65 183 -119 189 -119 5 0 18
                    6 27 13 15 10 -6 27 -161 130 -98 64 -182 117 -188 117 -5 0 -17 -5 -27 -11z"/>
                    <path d="M1191 1871 c-21 -14 360 -265 388 -256 12 3 21 12 21 18 0 16 -355
                    247 -378 247 -9 0 -23 -4 -31 -9z"/>
                    <path d="M943 1795 c-160 -46 -222 -73 -313 -135 -111 -75 -207 -203 -226
                    -299 -5 -26 0 -34 58 -80 75 -62 237 -144 328 -167 89 -22 408 -31 538 -14
                    118 15 293 58 387 95 62 25 215 111 215 120 0 3 -46 27 -102 56 -57 28 -143
                    80 -193 115 -184 130 -509 347 -524 350 -9 2 -84 -17 -168 -41z"/>
                    <path d="M1870 1731 c-161 -75 -282 -142 -288 -159 -6 -18 134 -110 266 -174
                    l122 -61 80 37 c43 20 84 36 89 36 24 0 19 25 -23 117 -45 100 -60 143 -74
                    222 -4 25 -12 46 -17 47 -6 2 -75 -27 -155 -65z"/>
                    </g>
                </svg>
            </a>
        </div>
        <div class="hero--bar-right d-flex flex-row align-items-center justify-content-end">
            <nav class="hero--bar-right-menu d-flex flex-row">
                <a href="/about.html"><p>About</p></a>
                <a href="/skills/"><p>Skills</p></a>
                <a href="/projects.html"><p>Projects</p></a>
                <a href="/experiences/"><p>Experiences</p></a>
                <a href="/education.html"><p>Education</p></a>
                <a href="/contact.html"><p>Contact</p></a>
            </nav>
            <button class="menu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
                <svg width="50" height="50" viewBox="0 0 100 100">
                <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                <path class="line line2" d="M 20,50 H 80" />
                <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
    </div>
</section>